body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: sans-serif;
  background-color: black;
  color: #f0f0ff;
}
.container {
  display: flex;
  height: 100vh;
}
.nav {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: start;
  border: solid 1px;
}
.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: start;
  border: solid 1px;
}
.right-side {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: start;
  padding: 0 20px;
  border: solid 1px;
}
.cards-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: self-start;
  height: 100vh;
}
.post-section {
  width: 100vh;
  border: solid 1px;
}
.user-profile {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.logo {
  align-items: flex-start;
}

.card {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  border: solid 1px;
  border-radius: 15px;
}
